@import '../../../../styles/variables.scss';

.header-menu {
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 500;
  margin-inline: 90px;
}

.link:hover {
  color: $--dark-grey-text-color;
}
