@import '../../../../styles/variables.scss';

.header_menu {
  display: flex;
  gap: 14%;
  font-size: 20px;
  font-weight: 500;
  margin-right: 13.5%;
}
.link {
  color: $--grey-text-color;
}
.link:hover {
  color: $--dark-grey-text-color;
}

@media (max-width: $large) {
  .header_menu {
    display: none;
  }
}
