@import '../../styles/variables.scss';

.details {
  padding: 30px 100px;
}
.title {
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 34px;
}

.rating {
  display: flex;
  gap: 20px;
}

.dark_text {
  color: $--dark-grey-text-color;
}
.comments {
  margin-left: 10px;
}

.size_guide {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}
.sizes {
  display: flex;
  justify-content: flex-start;
  gap: 22px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.size_button {
  border: 1px solid $--grey-text-color;
  background-color: white;
  width: 38px;
  height: 38px;
}

.size_button_black {
  background-color: black;
  color: white;
}

.rating {
  align-items: center;
  flex-wrap: wrap;
}
.buttons {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $--grey-border-color;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.selected_button {
  background-color: $--purple-color;
  color: white;
  border: 1px solid $--purple-color;
}

@media (max-width: $small) {
  .details {
    padding: 30px 20px;
  }
}
