@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 100px 0;
}

@media (max-width: $large) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: $medium) {
  .wrapper {
    margin: 10px;
  }
}
