@import '../../styles/variables.scss';
.wrapper {
  margin: 75px 0px 10px 0px;
}

.first_row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.second_row {
  display: flex;
  gap: 20px;
}

.second_row .item {
  padding-inline: 250px 100px;
}
.item {
  padding-top: 60px;
  height: 400px;
  flex-basis: 33%;
  background-size: cover;
  border-radius: 10px;
  padding-left: 22px;
  flex-grow: 1;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 0;
}

.item_white {
  color: white;
}

.item_white .arrow {
  color: white;
  margin: 30px -60px 60px 30px;
}

.item_white svg path {
  stroke: white;
}

.item_right .text {
  text-align: right;
  padding: 20px;
  position: relative;
}

.item_right .arrow {
  margin: 30px 40px 40px 0px;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px;
  color: inherit;
  width: 100px;
  border-radius: 3px;
  padding: 5px 10px;
  width: 110px;
}

.limited {
  position: absolute;
  top: -25px;
  left: 250px;
}

@media (max-width: $large) {
  .item {
    padding-top: 20px;
  }
}

@media (max-width: $medium) {
  * {
    flex-wrap: wrap;
  }
}
