@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  max-width: 1220px;
}

.products {
  margin-top: 50px;
  width: 895px;
}

.purple_text {
  color: $--purple-color;
}

.text {
  color: $--grey-text-color;
  line-height: 33.5px;
}

.subheader {
  margin: 20px 0;
}
.products_wrapper {
  flex-grow: 1;
}

@media (max-width: $medium) {
  .wrapper {
    margin-inline: 10px;
  }
}

@media (max-width: $small) {
  .wrapper {
    flex-direction: column;
  }
}
