@import '../../styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.title {
  margin: 40px 0;
}

.img {
  width: 262px;
  height: 262px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: $medium) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
