@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 70px -40px 30px 20px;
}

.title {
  margin: 40px 0;
}

.card {
  flex-grow: 1;
}

@media (max-width: $medium) {
  .wrapper {
    margin: 10px;
  }
}
