@import '../../styles/variables.scss';

.wrapper {
  width: 295px;
  border: 1px solid $--grey-border-color;
  margin: 50px;
  color: $--grey-text-color;
}

.header {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $--grey-border-color;
  border-top: 1px solid $--grey-border-color;
}

.categories {
  margin-top: 30px;
  font-size: 16px;
}

.subcategory {
  display: flex;
  justify-content: space-between;
  margin: 13px 30px;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.range {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: white;
  border-radius: 8px;
  border: 1px solid $--grey-border-color;
  padding: 3px 30px;
}

.subcategory.active {
  color: black;
}
