@import '../../styles/variables.scss';
.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;

  background-color: $--dark-grey-text-color;
  padding: 60px 90px;
  font-size: 18px;
  gap: 60px;
}

.bold {
  font-weight: bold;
  font-size: 28px;
}

.background {
  background-color: $--dark-grey-text-color;
  color: white;
}

.wrapper li {
  margin-top: 20px;
}

.social_media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 170px 30px 90px;
}

.apps {
  display: flex;
}

.title {
  padding: 40px 90px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.text {
  text-align: center;
  padding-bottom: 40px;
}

.app_container {
  position: relative;
}

.app_title {
  position: absolute;
  top: -55px;
}

@media (max-width: $small) {
  .social_media {
    flex-direction: column;
    gap: 80px;
  }
}
