@import '../../../../styles/variables.scss';

.container {
  margin-top: 35px;
}

.grid_row {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  padding: 65px 0px 50px 0px;

  border-bottom: 1px solid #ddd;
}

.grid_row_header {
  background-color: $--grey-text-color;
  color: white;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
  gap: 50px;
  padding: 30px 30px;
  border-bottom: 1px solid #ddd;
}

.grid_row:hover {
  background-color: #f5f5f5;
}

.description {
  padding-inline: 20px;
  display: flex;
  gap: 20px;
}

.product_title {
  color: black;
}

.small_gray {
  color: $--grey-text-color;
  font-size: 14px;
}
