@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  margin-top: 85px;
}

.text {
  margin-right: 30px;
}

.video {
  margin: 50px;
}

@media (max-width: $medium) {
  .wrapper {
    flex-direction: column;
  }
}
