@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  gap: 10px;
  margin-top: 65px;
  margin-bottom: 110px;
}

.card {
  flex-basis: 33.3%;
  border: 3px solid $--grey-text-color;
  border-radius: 10px;
  padding: 23px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
}

@media (max-width: $medium) {
  .wrapper {
    flex-wrap: wrap;
  }
}
