@import './../../styles/variables.scss';

.wrapper {
  display: flex;
  border-top: 1px solid $--grey-border-color;
  margin-inline: auto;
  max-width: 1440px;
}

.side_images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60px;
  margin-top: 200px;
  margin-right: 20px;
}

.images {
  padding-left: 100px;
  display: flex;
  background-color: $--background-grey-color;
}

.photo_wrapper {
  width: 520px;
  height: 785px;
}

.photo_wrapper img {
  object-fit: cover;
  width: 520px;
  height: 785px;
}

.selected_image {
  border: 3px solid $--purple-color;
  padding: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: $medium) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: $small) {
  .photo_wrapper {
    width: 320px;
    height: 485px;
  }

  .photo_wrapper img {
    object-fit: cover;
    width: 320px;
    height: 485px;
  }

  .images {
    justify-content: center;
    padding: 10px;
  }

  .side_images {
    display: none;
  }
}
