@import '../../styles/variables.scss';

.header {
  color: $text-font-stack;
  display: flex;
  gap: 7.3%;
  align-items: center;
  margin: 31px 0 51px 0px;
  padding-bottom: 30px;
  flex-wrap: no-wrap;
  border-bottom: 1px solid $--grey-border-color;
}

.burger_menu {
  display: none;
}
@media (max-width: $large) {
  .header {
    margin: 10px;
  }

  .burger_menu {
    display: block;
  }
}
