@import '../../styles/variables.scss';

.header {
  color: $text-font-stack;
  display: flex;
  gap: 7.3%;
  align-items: center;
  margin: 31px 0;
  flex-wrap: no-wrap;
}

@media (max-width: $medium) {
  .header {
    margin: 10px;
  }
}
