@import '../../styles/variables.scss';

.header {
  font-family: $text-font-stack;
  color: $--grey-text-color;
  display: flex;
  gap: 7.3%;
  align-items: center;
  margin: 31px 102px;
}

@media (max-width: $small) {
}
