@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  margin: 85px 0px;
}

.banner {
  flex-basis: 50%;
  background-image: url('../../assets/background-leaves.jpeg');
  background-size: cover;
  color: white;
  border-radius: 10px;
  padding: 180px 70px 10px 70px;
}

.text {
  display: flex;
  flex-direction: column;
}

.image_wrapper {
  flex-basis: 50%;
}

.img {
  height: 640px;
  border-radius: 10px;
}

.button {
  margin-top: 50px;
}

@media (max-width: $medium) {
  .img {
    display: none;
  }

  .image_wrapper {
    flex-basis: 0%;
  }

  .banner {
    flex-basis: 100%;
    padding: 180px 0px 80px 70px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }
}
