@import '../../../../styles/variables.scss';

.search {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  background-color: $--background-grey-color;
}

.wrapper {
  position: relative;
  margin-right: -1.5%;
}
.icon {
  position: absolute;
  top: 13px;
  left: 20px;
}

.button {
  display: none;
}

.icon {
  display: block;
}
@media (max-width: $small) {
  .search {
    display: none;
  }

  .icon {
    display: none;
  }
}
