@import '../../../styles/variables.scss';

.wrapper {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin: 70px 0px 90px 0px;
}

.title {
  margin-top: 20px;
  font-size: 1;
}

.link {
  color: $--grey-text-color;
  font-size: 13px;
}

.img {
  width: 270px;
  height: 393px;
  object-fit: cover;
  border-radius: 5px;
}

.arrow {
  float: right;
}

@media (max-width: $medium) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .arrow {
    margin-right: 120px;
  }
}
