@import '../../../styles/variables.scss';
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 55px 0px 90px -40px;
}

.title {
  margin-top: 20px;
  font-size: 1;
}

.link {
  color: $--grey-text-color;
  font-size: 13px;
}
.card {
  flex-grow: 1;
}

.img {
  width: 270px;
  height: 393px;
  object-fit: cover;
  border-radius: 5px;
}

.arrow {
  float: right;
}
