.sales_card {
  min-width: 400px;
  height: 360px;
  width: 610px;
  padding: 73px 250px 30px 30px;
  background-size: cover;
  border-radius: 10px;
  color: white;
}

.subtitle {
  margin-bottom: 27px;
}

.title {
  margin-bottom: 13px;
}

.link {
  margin-top: 44px;
  text-decoration-line: underline;
  cursor: pointer;
}
