@import '../../../styles/variables.scss';
.wrapper {
  display: flex;
  padding-left: 20px;
  border-left: 5px solid $--purple-color;
  margin: 40px 0;
}

.title {
  margin: 5px 0px;
  letter-spacing: 2.5px;
}

@media (max-width: $small) {
  .wrapper {
    margin-left: 20px;
  }
}
