/**
 * Basic typography style for copy text
 */
//hero-title
h1,
.h1 {
  font-family: $h1-font-stack;
  font-size: 75px;
  line-height: 1.2;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 800;
}
//title for mini-banners
h2,
.h2 {
  font-family: $text-font-stack;
  font-size: 34px;
  line-height: 45.1px;
  margin-block-start: 0;
  margin-block-end: 0;
}

// sub for hero
h3,
.h3 {
  font-family: $h3-font-stack;
  font-weight: 400;
  font-size: 32px;
  line-height: 37.77px;
  margin-block-start: 0;
}
//
h4,
.h4 {
  font-size: 23px;
  line-height: 30px;
  font-weight: medium;

  margin-block-start: 0;
  margin-block-end: 0;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 20px;
  font-family: $text-font-stack;
  margin-block-start: 0;
  margin-block-end: 0;
}
p {
  font-weight: 500;
  font-size: 18px;
}

p,
ul {
  font-weight: normal;
  font-family: $text-font-stack;
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  font-family: $text-font-stack;
}
