/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1024px,
) !default;

$text-font-stack: 'Causten400', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$--grey-text-color: rgba(128, 125, 126, 1);
$--dark-grey-text-color: rgba(60, 66, 66, 1);
