$text-font-stack: 'Causten', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$h1-font-stack: 'Core Sans C', 'Helvetica', 'Arial', sans-serif;

$h2-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;

$h5-font-stack: 'Montserrat';

$h3-font-stack: 'Core Sans C', 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$--grey-border-color: rgba(190, 188, 189, 1);
$--grey-text-color: rgba(128, 125, 126, 1);
$--dark-grey-text-color: rgba(60, 66, 66, 1);
$--background-grey-color: rgba(246, 246, 246, 1);
$--purple-color: rgba(138, 51, 253, 1);
$--black-color: rgba(60, 66, 66, 1);
$--yellow-color: rgba(251, 209, 3, 1);

//breakpoints
$large: '1025px';
$medium: '768px';
$small: '480px';
