@import '../../styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 10px;
  margin: 55px 0px 90px 0px;
}

.title {
  margin-top: 20px;
}

.subtitle {
  color: $--grey-text-color;
}
.link {
  color: $--grey-text-color;
  font-size: 13px;
}

.img {
  width: 270px;
  height: 393px;
  object-fit: cover;
  border-radius: 5px;
}

.arrow {
  float: right;
}

.price {
  background-color: $--background-grey-color;
  width: fit-content;
  padding-inline: 10px;
  border-radius: 10px;
}

.text_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
