/* 

container

src/styles/base.scss

.container {

}


wrapper?
*/

.wrapper {
  background-image: url(../../assets/hero.jpeg);
  width: 100%;
  height: 725px;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen {
  }
}

.title {
  padding: 80px 190px;
  color: white;
  max-width: 500px;
}
