@import '../../styles/variables.scss';

.wrapper {
  background-image: url(../../assets/hero.jpeg);
  height: 725px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  padding: 130px 90px;
  color: white;
  max-width: 900px;
}

.title {
  margin: 45px 0;
}
.background {
  background-color: rgb(20, 185, 222);
}

.button {
  font-size: 24px;
  margin-top: 45px;
}

@media (max-width: $medium) {
  .text {
    padding: 100px;
    color: white;
    max-width: 900px;
  }

  .wrapper {
    background-image: none;
    width: 100%;
  }
}

@media (max-width: $small) {
  .text {
    padding: 50px;
    color: white;
    max-width: 900px;
  }
}
