@import '../../../styles/variables.scss';

.button {
  padding: 15px;
  padding-inline: 50px;
}

.purple {
  color: white;
  background-color: $--purple-color;
}

.white {
  color: black;
  background-color: white;
  border: 1px solid $--grey-border-color;
}
